@model StudentCRUDOperation.Context.Student
@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>
@using (Html.BeginForm("AddStudent", "Student", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            <label>First Name</label>
            @Html.HiddenFor(model=>model.ID)
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Last Name</label>
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Email</label>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Mobile</label>
            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Address</label>
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </div>
}

